@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

@mixin product-action-button($product-color) {
  .featured-item-button {
    color: $product-color;
    border-color: $product-color;

    &:hover {
      background-color: $product-color;
      color: $color-white;
    }
  }
}

h1 {
  color: $color-primary;
  margin-top: 80px;
  font-weight: 300;

  @media (min-width: $screen-md-min) {
    font-size: 46px;
  }
}

h4 {
  color: $color-gray;
  margin-bottom: 100px;

  a {
    text-decoration: underline;
  }
}

.product-item {
  background-color: $color-white;
  border: 1px solid $border-color;
  font-size: 16px;
  margin-bottom: 30px;

  @media (max-width: $screen-sm-max) {
    border-radius: 3px;
  }

  &.community-edition {
    @include product-action-button($product-ce);

    @media (min-width: $screen-md-min) {
      border-radius: 3px 0 0 3px;
    }
  }

  &.enterprise-edition-starter {
    @include product-action-button($product-ees);
  }

  &.enterprise-edition-premium {
    @include product-action-button($product-eep);
  }

  &.enterprise-edition-ultimate {
    @include product-action-button($product-eeu);

    @media (min-width: $screen-md-min) {
      border-radius: 0 3px 3px 0;
    }
  }
}

.product-item-body {
  padding: 0 20px;
  margin: 40px 0;
  position: relative;

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-height: 825px;
  }

  @media (min-width: $screen-lg-min) {
    min-height: 740px;
  }
}

.product-name {
  font-size: 20px;
  color: $color-white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;

  .ee {
    font-size: 16px;
    text-align: left;
    line-height: 1;
    margin-right: 5px;
  }

  .ee-level {
    font-size: 40px;
    font-weight: 300;
  }

  &.ce {
    background-color: $product-ce;
  }

  &.ee-starter {
    background-color: $product-ees;
  }

  &.ee-premium {
    background-color: $product-eep;
  }

  &.ee-ultimate {
    background-color: $product-eeu;
  }
}

.product-description {
  @media (min-width: $screen-md-min) {
    min-height: 90px;
  }
}

.product-pricing {
  display: flex;
  align-items: center;

  .cost {
    padding: 0 6px;
  }

  .cost-large {
    font-size: 64px;
    text-align: right;
  }

  .cost-small {
    text-align: left;
  }
}

.product-actions {
  position: relative;

  .featured-item-button {
    margin: 20px 0 30px;
    width: 140px;

    @media (min-width: $screen-md-min) {
      margin: 40px 0 70px;
    }
  }

  .featured-item-discount {
    display: block;

    @media (max-width: $screen-sm-max) {
      margin: -20px 0 40px;
    }

    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 96px;
      text-align: center;
      width: 100%;
    }

    &.free-trial {
      color: $link-box-color;
      text-decoration: underline;
    }
  }
}

.product-item-list {
  @media (min-width: $screen-md-min) {
    text-align: left;
  }

  .item-description {
    position: relative;
    margin: 18px 0;

    a:hover {
      text-decoration: underline;
    }

    @media (min-width: $screen-md-min) {
      padding-left: 14px;
    }
  }

  a {
    color: $link-box-color;
    text-decoration: none;
  }

  .all-features {
    text-decoration: underline;
    font-weight: bold;

    @media (min-width: $screen-md-min) {
      margin-left: 14px;
    }
  }
}

.triangle {
  display: inline-block;
  margin-right: 8px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid $link-box-color;
  border-radius: 3px;

  @media (min-width: $screen-md-min) {
    position: absolute;
    top: 6px;
    left: 0;
  }
}

.contact-block {
  margin: 80px 0;

  h2 {
    color: $color-primary;
  }

  .contact-us-button {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;
    margin-top: 20px;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}

.coming-soon {
  background-color: $product-coming-soon;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px 0;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  color: $color-white;
  position: absolute;
  top: -40px;
  border-radius: 0 0 3px 3px;
}

.content-container.faq {
  background-color: $color-white;
  border-top: 1px solid $border-color;
}

@media (min-width: $screen-md-min) {
  .product {
    padding: 0;

    .product-item:not(.enterprise-edition-ultimate) {
      border-right: 0;
    }

    .product-item:not(.community-edition) {
      border-left: 0;
    }

    .product-name {
      border-radius: 0;

      &.ce {
        border-top-left-radius: 3px;
      }

      &.ee-ultimate {
        border-top-right-radius: 3px;
      }
    }

    .product-item-body {
      border-right: 1px solid $border-color;
    }

    .enterprise-edition-ultimate {
      .product-item-body {
        border-right: 0;
      }
    }
  }
}
