---
layout: job_page
title: "Vice President of Scaling"
---

## Responsibilities

- Temporarily lead areas where the company is missing a leader
- While leading, change the company processes as needed
- Hire people and transition the responsibilities to them
- Tackle cross-disciplinary initiatives in collaboration with the CEO
- Be available for quick turnaround time on urgent initiatives as identified by the CEO

## Requirements

- Problem solver who can quickly master new concepts and subject matter.
- Capacity to develop and implement practical strategies, plans, and solutions for the company's issues and problems.
- Excellent verbal and written communication skills.
- Ability to manage competing company and team priorities in collaborative and cross-disciplinary way.
- Ability to work well with colleagues both in and outside of the organization, with good judgement, discretion, and tact.
- Ability to work independently and to undertake supervisory responsibilities as needed.
- You share our [values](/handbook/values), and work in accordance with those values
- Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).


<%= partial "includes/apply_and_about" %>
